
<app-create-todo [todos]="todos" (taskAdded)="addTodo($event)" autocomplete></app-create-todo>
<br>
<app-todo-filter [completedState]="completedState" (_filtersUpdated)="updateFilter($event)"></app-todo-filter>
<ul>
  <app-todo *ngFor="let todo of todos | filter: { 'title': { value: filter?.search },
        'completed' : { value: filter?.completed, fullMatch: true } }; let i = index"
        [todo]="todo"
        [i]="i"
        (taskRemoved)="removeTodo($event)" >
  </app-todo>
</ul>
