
<input type="text" [(ngModel)]="search" placeholder="Search..." (input)="updateFilters()" />
<br>
<div class="filter-controls">
  <input id="r1" type="radio" name="checkbox" [value]="''" [(ngModel)]="completedState" checked (change)="updateFilters()" />
  <label for="r1">All</label>

  <input id="r2"type="radio" name="checkbox" [value]="true" [(ngModel)]="completedState" (change)="updateFilters()" />
  <label for="r2">Checked</label>

  <input id="r3" type="radio" name="checkbox" [value]="false" [(ngModel)]="completedState" (change)="updateFilters()" />
  <label for="r3">Unchecked</label>
</div>
